<footer class="page-footer orange">
	<div class="footer-copyright ">
      <div class="container">
         Made by <a class="white-text text-lighten-3" href="/">ClickVote Software</a> | © Copyright 2017. All rights reserved.
         <a class="white-text text-lighten-4 right" href="https://github.com/roxroy/camper-voting"> <i class="fa fa-github" aria-hidden="true"></i> Project code</a>
      </div>
  </div>
</footer>