<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

    <header>
        <% include ./partials/header %>
    </header>

    <main class="container">
        <div class="section">
           <h2 class="header center orange-text">Poll</h2>
        </div>

        <div class="row" id="EDITPOLL">
        <div class="row card-panel blue lighten-5">
            <form class="col s12" action="/mypolls" method="post" @submit.prevent="savePoll" >
              <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Placeholder" id="title" type="text" class="validate" v-model="title" >
                    <label for="title">Title</label>
                </div>
              </div>
              <div class="row choice-box">
                <span class="blue-text text-darken-2">Poll Choices</span>
                
                <ul class="input-field col s12 todo-list">
                  <li v-for="answer in answers">
                   <input class="edit" type="text"
                        v-model="answer.choice">
                  </li>
                  <li>
                    <span class="btn-floating btn-small waves-effect waves-light light-red"><i class="material-icons" v-on:click="newChoice" >add</i></a>
                  </li>
                </ul>  
              </div>
              <button class="btn waves-effect waves-light" type="submit" name="action" v-bind:disabled="!isValid">Submit
                <i class="material-icons right">send</i>
              </button>
            </form>
        </div>
        </div>
    </main>

    <% include ./partials/footer %>
    
    <% include ./partials/footer-scripts %>
    <script type='text/javascript'>
      var poll =<%-JSON.stringify(poll)%>
      $( document ).ready(function() {
        editPollActions(poll);
      });

    </script>

</body>
</html>
