<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>404</h1>
            <h2>Page Not Found</h2>
             <p><%= error%></p>
             <p><%= message%></p>
        </div>
    </main>

    <% include ./partials/footer %>

</body>
</html>