<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

    <header>
        <% include ./partials/header %>
    </header>

    <main class="container">
			<div class="collection">
			<% for(var i=0; i<polls.length; i++) {%>
			   <a href="/polls/<%= polls[i].id%>" class="collection-item"><%= polls[i].title %></a>
			<% } %>
			</div>

      <div id="root"></div>
    </main>

    <% include ./partials/footer %>

    <% include ./partials/footer-scripts %>

</body>
</html>