<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

    <header>
        <% include ./partials/header %>
    </header>

    <main class="container">
        <ul class="collection" id="MYPOLLS" >
            <% for(var i=0; i<polls.length; i++) {%>
             <li class="collection-item" data-id="<%= polls[i].id%>">
                <a href="/polls/<%= polls[i].id%>"><%= polls[i].title %></a>
                <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>   
             </li>
            <% } %>
        </ul>
    </main>

    <% include ./partials/footer %>

    <% include ./partials/footer-scripts %>

</body>
</html>