<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

    <header>
        <% include ./partials/header %>
    </header>

    <main class="container">
        <div class="section">
           <h2 class="header center orange-text">My Profile</h2>
        </div>
			<div class="card-panel blue lighten-5">
				<i class="fa fa-github fa-5x" aria-hidden="true"></i>
				<p><span>User Name: </span><span><%= user.github.userName %></span></p>
				<p><span>Display Name: </span><%= user.github.displayName %></span></p>
				<p><span>Profile : </span> <a href="<%= user.github.profileUrl %>" target="_blank"><%= user.github.profileUrl %></a></span></p>
			</div>

    </main>

    <% include ./partials/footer %>
    
    <% include ./partials/footer-scripts %>

</body>
</html>
