<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

<header>
    <% include ./partials/header %>
</header>

    <main class="container">
        <div class="row center">
            <a href="/auth/github" class="btn-large waves-effect waves-light orange"><i class="material-icons left">perm_identity</i>Sign in with GitHub</a>
        </div>
    </main>

    <% include ./partials/footer %>

    <% include ./partials/footer-scripts %>

</body>
</html>
