<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>

    <header>
        <% include ./partials/header %>
    </header>

    <main class="container">
        <div class="section">
           <h2 class="header center orange-text">Sign in</h2>
        </div>
        <div class="row center">
            <a href="/auth/github" class="btn-large waves-effect waves-light orange"><i class="material-icons left">perm_identity</i>With GitHub</a>
        </div>

        <div class="section">
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons medium">chat_bubble_outline</i></h2>
                <h5 class="center">Create your own polls</h5>

                <p class="light">We don't limit the number of polls or responses like others claiming to be free. 100% free and always will be.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons medium">tab_unselected</i></h2>
                <h5 class="center">Add new poll choices</h5>

                <p class="light">Don't see or link any of the choice? Add  your own choice and allow others to vote with it.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons medium">ring_volume</i></h2>
                <h5 class="center">Share your polls</h5>

                <p class="light">Quickly poll a sample audience with your preliminary research theories before investing significant time into developing a detailed hypothesis.</p>
              </div>
            </div>
          </div>

        </div>

    </main>

    <% include ./partials/footer %>

    <% include ./partials/footer-scripts %>

</body>
</html>
